nav.custom-nav {
    /*background-color: #2e105e;
    color: white;
    */
    background-color: #563d7c;
    color: #ffffff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.nav-item {
    color: #ffffff;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

a.nav-link:hover {
    color: yellow;
    text-decoration: none;
}


.card {
    margin: 5% 0%;
}

.custom-card-body {
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
}

.complete-btn{
    background-color: #563d7c;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
  }

.accordion-button:focus {
    box-shadow: none;
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .125);
  }

