nav.custom-nav {
    /*background-color: #2e105e;
    color: white;
    */
    background-color: #563d7c;
    color: #ffffff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.nav-item {
    color: #ffffff;
    font-weight: bold;
   }
.nav-link {
    color: #ffffff;
    font-weight: bold;
}

ul li a:hover {
    color: yellow;
    text-decoration: none;
}
