<div class="container mt-5">
  <h1>About Us</h1>
  <div class="col py-3">
    <h1 style="font-size: 3.5vh">Mission and Purpose</h1>
    <p>
      Iternational Student Assist provides a streamlined roadmap of the
      processes, tests, and forms required for international students to apply
      to attend universities in the United States.
      We believe that every student who wishes to study in the US should be
      given the opportunity to do so, whether they are an undergraduate or
      graduate student.
    </p>
    <h2 style="font-size: 3.5vh">How to Accomplish This</h2>
    <p>
      The website includes links to other websites for information on finding
      and submitting all paperwork required by a US university and the US
      government.
    </p>
    <h2 style="font-size: 3.5vh">Founders</h2>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top card-update" src="img/Marvin.jpg" alt="Design" />
        <div class="card-body">
          <h4 class="card-title">Marvin Battley</h4>
          <p class="card-text">Attending LSUS since January 2022 as a graduate student, Marvin is graduating May 2023
            with a MS in Computer Systems Technology and concentration in Computer Science. He came
            up with the idea for this website after listening to his international
            friends' struggles to be in the same classes as him here, in the U.S. "I love my community at LSUS and in
            the city of Shreveport." </p>
        </div>
        <div class="card-footer py-4">
          <a href="https://www.linkedin.com/in/marvinbattleyjr/" class="btn btn-primary">Learn More &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top card-update" src="img/Libby.jpg" alt="Design" />
        <div class="card-body">
          <h4 class="card-title">Libby Blair</h4>
          <p class="card-text">Attending LSUS since January 2022 as a graduate student, Libby is graduating September
            2023
            with a MS in Computer Systems Technology and concentration in Computer Science. She was
            inspired by Marvin to take up this venture and hopes this will help
            international students immensely. "I am very thankful for the opportunities LSUS has given me and the
            friendship I have made."</p>
        </div>
        <div class="card-footer py-4">
          <a href="https://www.linkedin.com/in/libby-blair-544972273/" class="btn btn-primary">Learn More &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top card-update" src="img/Louis.jpg" alt="Design" />
        <div class="card-body">
          <h4 class="card-title">Louis Echefu</h4>
          <p class="card-text">Attending LSUS since August 2022 as a graduate student, Louis is graduating May
            2024
            with a MS in Computer Systems Technology and concentration in Software Developement. He is also an
            international student from Nigeria and is familiar with the process of coming to the U.S. to study. "I
            thrive in challenging environments and excel in developing complex systems to enhance efficiency and
            accuracy."</p>
        </div>
        <div class="card-footer py-4">
          <a href="https://www.linkedin.com/in/echefu-louis-53523315a/" class="btn btn-primary">Learn More &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>