<div class="container mt-5">
  <h1>About Us Page</h1>
  <div class="col py-3">
    <h1 style="font-size: 4.5vh">Mission and Purpose</h1>
    <p>
      Iternational Student Assist provides a streamlined roadmap of the
      processes, tests, and forms required for international students to apply
      to attend universities in the United States.
    </p>
    <p>
      We believe that every student who wishes to study in the US should be
      given every opportunity to do so, whether they are an undergraduate or
      graduate student.
    </p>
    <h2 style="font-size: 3.5vh">How to Accomplish This</h2>
    <p>
      The website includes links to other websites for information on finding
      and submitting all paperwork required by a US university and the US
      government.
    </p>
    <h2 style="font-size: 3.5vh">Creators</h2>
    <p>
      Marvin Battley is a Graduate Student in the LSUS MS-CST program. He came
      up with the idea for this website after listening to his international
      friends' struggles to be in the same classes as him here, in the US.
    </p>
    <p>
      Libby Blair is also a Graduate Student in the LSUS MS-CST program. She was
      inspired by Marvin to take up this venture and hopes this will help
      international students immensely.
    </p>
    <p>
      Louis Echefu is again, a Graduate Student in the LSUS MS-CST program, as
      well as an international student from Nigeria. Having personal insight
      into how difficult of a process it is coming to the US for school, he is
      able to steer the team in the best direction.
    </p>
  </div>
</div>