
    <div class=" container mt-4 mb-4">
      {{#if message }}
        <h4 class="alert alert-danger mt-4"> {{ message }}</h4>
      {{else if success}}
        <h4 class="alert alert-success mt-4"> {{ success }}</h4>
      {{/if}}

    </div>
    <div class="container mt-4 jumbotron w-50">
        <div class="card">
          <div class="card-header">
            Register Form
          </div>
      <div class="card-body">
        <form action="/auth/register" method="POST">
          <div class="form-group mt-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
          </div>

          <div class="form-group mt-3">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>

          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
          </div>

          <div class="form-group mt-3">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Re-Enter Password">
          </div>

          <button type="submit" class="btn btn-warning mt-3">Register User</button>

        </form>
      </div>
    </div>
    </div>