<div class=" container mt-4 mb-4">
    {{#if message }}
    <h4 class="alert alert-success mt-4"> {{ message }}</h4>
    {{/if}}
</div>

<div class="container mt-4 jumbotron custom-register-form">
        <div class="card">
          <div class="card-header">
            Enter New Password
          </div>
      <div class="card-body">

      <form action="/reset-password/{{token}}" method="POST">

        <div class="form-group mt-3">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>

          <button type="submit" class="btn btn-warning mt-3"> Reset Password</button>
        </form>
      </div>
    </div>
    </div>