<div class="container w-50 mt-5">
    <h1>Terms and Conditions</h1>
    <div class="col py-3">
        <h1 style="font-size: 3.5vh">Our Services</h1>
        <p>
            The information provided when using the Services is not intended for distribution to or use by any person or entity in
            any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject
            us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access
            the Services from other locations do so on their own initiative and are solely responsible for compliance with local
            laws, if and to the extent local laws are applicable.
        </p>
        
        <h2 style="font-size: 3.5vh">User Representation</h2>
        <p>
            By using the Services, you represent and warrant that: (1) all registration information you submit will be true,
            accurate, current, and complete; (2) you will maintain the accuracy of such information and promptly update such
            registration information as necessary; (3) you have the legal capacity and you agree to comply with these Legal Terms:
            (4) vou are not under the age of 13; (5) you are not a minor in the jurisdiction in which you reside, or if a minor, you
            have received parental permission to use the Services: (6) vou will not access the Services through automated or
            non-human means, whether through a bot, script or otherwise; (7) you will not use the Services for any illegal or
            unauthorized purpose; and (8) your use of the Services will not violate any applicable law or regulation.
            
            If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or
            terminate your account and refuse any and all current or future use of the Services (or any portion thereof).
        </p>
        <h2 style="font-size: 3.5vh">USER REGISTRATION</h2>
        <p>
            You may be required to register to use the Services. You agree to keep your password confidential and will be
            responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you
            select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise
            objectionable.
        </p>
        <h2 style="font-size: 3.5vh">THIRD-PARTY WEBSITES AND CONTENT</h2>
        <p>
            The Services may contain (or you may be sent via the Site links to other websites ("Third-Party Websites") as well as
            articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and
            other content or items belonging to or originating from third parties ("Third-Party Content"). Such Third-Party Websites
            and Third-Party Content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by
            us, and we are not responsible for any Third-Party Websites accessed through the Services or any Third-Party Content
            posted on, available through, or installed from the Services, including the content, accuracy, offensiveness, opinions,
            reliability, privacy practices, or other policies of or contained in the Third-Party Websites or the Third-Party
            Content.
        </p>
        <p>
            Inclusion of, linking to, or permitting the use or installation of any Third-Party Websites or any Third-Party Content
            does not imply approval or endorsement thereof by us.
        </p>
        <p>
            If you decide to leave the Services and access the Third-Party Websites or to use or install any Third-Party Content,
            you do so at your own risk, and you should be aware these Legal Terms no longer govern. You should review the applicable
            terms and policies, including privacy and data gathering practices, of any website to which you navigate from the
            Services or relating to any applications you use or install from the Services. Any purchases you make through
            Third-Party Websites will be through other websites and from other companies, and we take no responsibility whatsoever
            in relation to such purchases which are exclusively between you and the applicable third party. You agree and
            acknowledge that we do not endorse the products or services offered on Third-Party Websites and you shall hold us
            blameless from any harm caused by your purchase of such products or services. Additionally, you shall hold us blameless
            from any losses sustained by you or harm caused to you relating to or resulting in any way from any Third-Party Content
            or any contact with Third-Party Websites,
        </p>

        <a href="/register" class="btn p-2 btn-warning mt-3">Click here to register</a>
        
    </div>
</div>